//
//  Secrets.swift
//  Sportskanone
//
//  Created by Fabian Pahl on 12/03/2017.
//  Copyright © 2017 21st digital. All rights reserved.
//

public enum Secrets {

  public enum Parse {
    public static let applicationID = ""
    public static let clientKey = ""
    public static let serverURL = ""
  }

  public enum Hockey {
    public static let applicationID = ""
  }

}
